/* forallxyyc.css -- style sheet to fix spacing etc. in BookML and LaTeXML styles
Must be passed to LaTeXML and BookML */

/* hide the "blank" text in \blank's */

span.fxblank {
  display: inline-block;
  height: 0px;
  overflow: hidden;
}

/* draw a border around the book cover */

img.fxcover {
  border: 1px solid !important;
  background-color: white;
  margin-left: 2em;
}

/* make <dd>'s (i.e., the description environment used by earg appear
nicely */

dl.ltx_description dt,
dt span.ltx_tag {
  font-style: normal !important;
  font-weight: normal !important;
  font-size: inherit !important;
}

dl.ltx_description dt {
  text-align: right;
  min-width: 6em;
}

dd, dd p.ltx_p {
  margin-bottom: 0px !important;
} 

dl.ltx_description {
  margin-left: 0.5em;
}

/* fix LaTeXML.css handling of paras inside list items without tags */

.ltx_item .ltx_para:first-child .ltx_p  { display:inline; }

/* fix LaTeXML.css spacing between {paragraph}s */

.ltx_paragraph .ltx_title + .ltx_para .ltx_p {
  display: block;
}